<div class="w-100 d-flex flex-column align-items-center">
    <h1>Add Employee</h1>
    <form action="" class="w-50 gap-2 d-flex flex-column align-items-center" [formGroup]="addForm">
        
        <input class="form-control" type="text" formControlName="firstName" placeholder="First Name">
        
        <p class="text-danger text-center m-0" *ngIf="addForm.get('firstName')?.getError('required') && addForm.get('firstName')?.touched">this field is required</p>
        <p class="text-danger m-0" *ngIf="addForm.get('firstName')?.getError('minlength')">min length is 3</p>
        <p class="text-danger m-0" *ngIf="addForm.get('firstName')?.getError('maxlength')">max length is 16</p>
        
        
        <input class="form-control" type="text" formControlName="lastName" placeholder="Last Name">
        <p class="text-danger text-center m-0" *ngIf="addForm.get('lastName')?.getError('required') && addForm.get('lastName')?.touched">this field is required</p>
        <p class="text-danger m-0" *ngIf="addForm.get('lastName')?.getError('minlength')">min length is 3</p>
        <p class="text-danger m-0" *ngIf="addForm.get('lastName')?.getError('maxlength')">max length is 16</p>
        <input class="form-control" type="text" formControlName="email" placeholder="Email">
        <p class="text-danger m-0" *ngIf="addForm.get('email')?.getError('required') && addForm.get('email')?.touched">this field is required</p> 
        <p class="text-danger m-0" *ngIf="addForm.get('email')?.getError('email')">please enter correct email</p>
        <input class="form-control" type="text" formControlName="position" placeholder="Position">
        <p class="text-danger text-center m-0" *ngIf="addForm.get('position')?.getError('required') && addForm.get('position')?.touched">this field is required</p>
        <p class="text-danger m-0" *ngIf="addForm.get('position')?.getError('minlength')">min length is 2</p>
        <button class="btn btn-outline-success" (click)="onAdd()">Add</button>
    </form>
    <button class="btn btn-outline-primary mt-3"routerLink="" >Back to home</button>
</div>
